.section {
    display: grid;
    grid-template-rows: auto minmax(50px, 1fr);
    grid-gap: 5px;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 20px;
    grid-gap: 20px;
    background-color: white;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    background-color: white;
}

.section__body {
    padding: 20px;
    background-color: white;
}