html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}